<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="/acesso/template-cadastrar">


<div layout:fragment="conteudo">
	<div class="container">

		<section class="estiloSobreCorpo">
			<h4 class="estiloTituloSobre">Dúvidas? Entre em contato conosco.</h4>
			<p>Ficaremos felizes em poder te ajudar.</p>
			<div>
				<h5 class="estiloContato">E-mail:</h5>
				<p>suportetecnologia@outlook.com.br</p>
			</div>
		</section>
		<div class="estiloCadastreseSobre">
			<a class="nav-link" href="/cadastrar" style="color: white">Cadastre-se</a>
		</div>
	</div>
</div>

</html>