<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="/acesso/template-cadastrar">


<div layout:fragment="conteudo">
	<div class="estiloCorpoCadastrese">
		<div class="container">
			<form th:action="@{/salvarEmpreendimento}"
				th:object="${empreendimento}" method="POST">

				<div layout:insert="/mensagens/alertas"></div>
				<div layout:insert="/mensagens/validacao"></div>

				<input type="hidden" th:field="*{id}"></input>

				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h4 class="">Você registra suas vendas e/ou prestação de
							serviços em papel? Não possui o controle das entradas e saídas de
							seu empreendimento?</h4>
						<p class="lead">Tenha o controle de seus ganhos diários,
							mensais, anuais e consiga acompanhar as vendas ou prestação de
							serviços que ainda não recebeu. Tudo isso de maneira simples e
							eficiente. Faça seu cadastro e comece hoje mesmo a utilizar nossa
							plataforma appVendas</p>
					</div>
				</div>

				<div class="input-group mb-3">
					<label for="desc"></label> <input type="text"
						placeholder="Seu CNPJ" autocomplete="off"
						class="form-control form-control-sm" id="desc"
						aria-label="Exemplo do tamanho do input"
						aria-describedby="inputGroup-sizing-default" th:field="*{cnpj}">
				</div>

				<div class="input-group mb-3">
					<label for="desc"></label> <input type="text"
						placeholder="Nome de seu empreendimento " autocomplete="off"
						class="form-control form-control-sm" id="desc"
						aria-label="Exemplo do tamanho do input"
						aria-describedby="inputGroup-sizing-default"
						th:field="*{nomeFantasia}">
				</div>

				<div class="input-group mb-3">
					<label for="desc"></label> <input type="email" autocomplete="off"
						placeholder="Seu e-mail" class="form-control form-control-sm"
						id="desc" aria-label="Exemplo do tamanho do input"
						aria-describedby="inputGroup-sizing-default"
						th:field="*{acesso.email}">
				</div>

				<div class="input-group mb-3">
					<label for="desc"></label> <input type="password"
						placeholder="Sua senha" class="form-control form-control-sm"
						id="desc" aria-label="Exemplo do tamanho do input"
						aria-describedby="inputGroup-sizing-default"
						th:field="*{acesso.senha}">
				</div>

				<div class="input-group mb-3">
					<select class="custom-select" id="inputGroupSelect01"
						th:field="*{tipoDoEmpreendimento}">
						<option value="" selected="selected">Tipo de seu
							Empreendimento</option>
						<option th:each="tipo : ${segmentosDeAtuacao}" th:value="${tipo}"
							th:text="${tipo.descricao}">Escolher...</option>

					</select>
				</div>

				<div class="input-group mb-3"
					th:classappend="${#fields.hasErrors('meta.valorDaMeta')} ? has-error">
					<input type="text" class="form-control" aria-label="Quantia"
						th:field="*{meta.valorDaMeta}" id="demo4" data-thousands="."
						data-decimal="," placeholder="Valor de sua meta mensal">
				</div>

				<div class="estiloBotaoCadastrese">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</div>

				<div class="estiloCadastrese">
					Já é cadastrado? <a th:href="@{/}">Clique aqui para logar</a>
				</div>

			</form>
		</div>

	</div>
</div>
</html>