<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/estilo.css">
<link rel="stylesheet" href="css/bootstrap-datepicker.standalone.css">


<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
	type="text/javascript"></script>
<script src="js/jquery.maskMoney.js" type="text/javascript"></script>
</head>

<body class="estiloCorpo">

	<header layout:insert="/fragmentos/cabecalhoLogin"
		class="estiloDoCabecalho"> </header>

	<div layout:fragment="conteudo"></div>


	<footer layout:insert="/fragmentos/rodape"> </footer>


	<script>
		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>

	<script src="/js/jquery"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/popper.js"></script>

	<script src="/js/bootstrap.js"></script>
	<script>
		$("#demo4").maskMoney();
	</script>

</body>
</html>