<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="/acesso/template-cadastrar">


<div layout:fragment="conteudo">
	<div class="container">

		<section class="estiloSobreCorpo">
			<h3 class="estiloTituloSobre">Conheça a plataforma appVendas</h3>
			<article class="estiloTextoSobre">
				Sabendo da dificuldade de possuir o controle sobre as entradas e
				saídas de um negócio, os criadores da plataforma appVendas resolveram
				simplificar a maneira de gerenciar essas informações. Foi a partir
				dessa complexidade de gerir essas informações críticas como depesas,
				receitas, rentabilidade mensal e quantidade de vendas em aberto que
				foi criada a plataforma appVendas. AppVendas é para você que está
				anotando em papel informações relevantes de seu negócio ou prestação
				de serviços como a quantidade vendida ou o valor dos serviços
				prestados no mês, lucro líquido, despesas totais, enfim, você
				pequeno empreendedor que necessita ter acesso a esses dados de
				maneira simples e eficiente. AppVendas possibilita que você conheça
				verdadeiramente seus ganhos bem como suas despesas e, acima de tudo,
				que tenha o controle desses dados. Venha conhecer a plataforma
				appVendas e deixe-a te ajudar a ter um maior controle sobre as
				informações inerentes ao seu negócio.
				<h5 class="estiloTituloSecundarioSobre">Benefícios ao utilizar
					appVendas:</h5>
				<ul>
					<li>Registre, monitore e analise com simplicidade suas
						receitas diárias, mensais e anuais</li>
					<li>Tenha o controle de suas despesas
					<li>Visualize informações referentes ao desempenho de seu
						negócio por meio de dashboard e gráficos
					<li>Gere relatórios dinâmicos sobre entradas e saídas</li>
					<li>Trace metas de desempenho e acompanhe-as para conhecer o
						andamento de seu negócio</li>
					<li>De posse de todo esse acervo de informações críticas de
						seu empreendimento, você poderá traçar planos estratégicos
						eficientes, quer seja para expansão, alteração e/ ou metas para
						nortear o melhor caminho para sua empresa</li>
				</ul>
				Faça parte do grupo de empreendedores que possuem o controle
				eficiente de suas receitas e despesas e conheça a plataforma
				appVendas. Vamos juntos? Estamos empenhados a ajudar você a ter um
				maior controle de seu empreendimento.
			</article>
		</section>
		<div class="estiloCadastreseSobre">
			<a class="nav-link" href="/cadastrar" style="color: white">Cadastre-se</a>
		</div>
	</div>
</div>

</html>