<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">

<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/painel" class="brand-logo"><img
			src="/imagens/logoVendas.png" class="estiloIconesDoMenu" />ByMendes</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/lista" title="Lista de vendas"><img class="estiloIconesDoMenu"
					src="/imagens/list.png" /></a></li>
			<li><a href="/formulario" title="Efetuar venda"><img
					class="estiloIconesDoMenu" src="/imagens/sales.png" /></a></li>
			<li><a href="/formulario" title="Gerar Relatórios"><img
					class="estiloIconesDoMenu" src="/imagens/report.png" /></a></li>
			<li><a href="/formulario" title="Sair"><img
					class="estiloIconesDoMenu" src="/imagens/power2.png" /></a></li>

		</ul>

		<ul id="nav-mobile" class="sidenav">
			<li><a href="#">Lista de Vendas</a></li>
			<li><a href="#">Efetuar venda</a></li>
			<li><a href="#">Sair</a></li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
			class="material-icons">menu</i></a>
	</div>
</nav>

</html>