<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-lg navbar-light">

	<a class="navbar-brand" href="/painel"><h3
			class="estiloDaMarcaLogin" data-toggle="tooltip"
			data-placement="right"
			title="Acompanhe sua vendas diárias, mensais e anuais com praticidade">nirvana</h3>
	</a> 


	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
		aria-expanded="false" aria-label="Alterna navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">

		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

			<li><a class="nav-link" href="/painel"> </a></li>

		</ul>


	</div>

</nav>

</html>