<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">

<nav class="nav flex-column">

	<a class="nav-link active" href="/painel"><img
		src="imagens/grafico.png" class="estiloIconeMenu" />Dashboard</a> 
		
		<a
		class="nav-link" href="/formulario"><img src="imagens/vendas.png"
		class="estiloIconeMenu" />Registrar Receita</a>
		
		 <a class="nav-link"
		href="/lista"><img src="imagens/saidas.png"
		class="estiloIconeMenu" />Vendas/Serviços</a> 
		
		<a class="nav-link"
		href="/vendasPendentes"><img src="imagens/areceber.png"
		class="estiloIconeMenu" />A Receber</a> 
		
		<a class="nav-link"
		href="/despesa"><img src="imagens/contas.png"
		class="estiloIconeMenu" />Registrar Despesa</a> 
		
		<a class="nav-link"
		href="/despesasMensais"><img src="imagens/aPagar.png"
		class="estiloIconeMenu" />Despesas Mensais</a> 
		
		<a class="nav-link"
		href="/vendasPendentes"><img src="imagens/funcionarios.png"
		class="estiloIconeMenu" />Funcionários</a> 
		
		<a class="nav-link"
		href="/formulario"><img src="imagens/relatorios.png"
		class="estiloIconeMenu" />Relatórios</a>
		
		 <a
		th:if="${existeVendaPendente} == true" class="nav-link"
		href="/vendasPendentes"> <img src="/imagens/notifi.png"
		class="estiloIconeMenu"> Notificações
	</a>


</nav>

</html>