<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>nirvana</title>

<link rel="stylesheet" type="text/css"
	href="layout/stylesheets/vendors.min.css" />
<link rel="stylesheet" type="text/css"
	href="layout/stylesheets/algaworks.min.css" />
<link rel="stylesheet" type="text/css"
	href="layout/stylesheets/application.css" />
<link rel="stylesheet" type="text/css" href="css/estilo.css" />

</head>

<body class="aw-layout-simple-page">
	<div class="aw-layout-simple-page__container">

		<form method="POST" th:action="@{/}">

			<div layout:insert="/mensagens/alertas"></div>

			<div class="aw-simple-panel">

				<img alt="nirvana" src="/imagens/husk.png" class="estiloIconeLogin" />

				<div class="aw-simple-panel__message">Por favor, faça o login
					para utilizar a plataforma appVendas.</div>

				<div layout:insert="/mensagens/alerta-login"></div>

				<div class="aw-simple-panel__box">
					<div class="form-group  has-feedback">
						<input type="text" class="form-control  input-lg"  autocomplete="off"
							placeholder="Seu e-mail" name="username" /> <span
							class="glyphicon  glyphicon-envelope  form-control-feedback"
							aria-hidden="true"></span>
					</div>

					<div class="form-group  has-feedback">
						<input type="password" class="form-control  input-lg"  autocomplete="off"
							placeholder="Sua senha" name="password" /> <span
							class="glyphicon  glyphicon-lock  form-control-feedback"
							aria-hidden="true"></span>
					</div>
					<div class="form-group">
						<button type="submit"
							class="btn  btn-primary  btn-lg  aw-btn-full-width">Entrar</button>
					</div>

					<!-- 	<div class="form-group clearfix">
				<div class="checkbox  pull-left  aw-checkbox-no-margin">
					<input type="checkbox" id="lembrar"/>
					<label for="lembrar">Lembre de mim</label>
				</div>
				
				<div class="pull-right">
					<a href="esqueceu-a-senha.html">Esqueceu a senha?</a>
				</div>
			</div> -->
				</div>

				<!-- <div class="aw-simple-panel__footer">Novo por aqui? <a href="#">Cadastre-se</a>.</div> -->
			</div>
		</form>
		<div class="estiloCadastrese">
			Não é cadastrado? <a th:href="@{/cadastrar}">Cadastre-se aqui</a>
		</div>
	</div>

	<script src="layout/javascripts/vendors.min.js"></script>
	<script src="layout/javascripts/algaworks.min.js"></script>
</body>
</html>