<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">

<section layout:fragment="conteudo">

	<div class="container">
		<div class="section">
			<div>

				<div layout:insert="/alert"></div>

				<form class="col s12" method="POST" th:action="@{/salvar}"
					th:object="${vendas}">

					<input type="hidden" th:field="*{id}"/>

					<div class="input-field col s6">
						<i class="material-icons prefix">attach_money</i> <input
							th:field="*{valor}" id="valor" type="text" class="validate" /> <label
							for="valor">Valor</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">mode_edit</i> <input
							th:field="*{descricao}" id="descricao" type="text"
							class="validate" /> <label for="descricao">Descricao</label>
					</div>

					<div class="input-field col s6">
						<i class="material-icons prefix">date_range</i> <input type="text" class="datepicker" id='datepicker.regional'
							 th:field=*{data}> <label for="data">Data da
							Venda</label>
					</div>

					<div align="center">

						<button class="btn waves-effect waves-light" type="submit"
							name="action">
							Registrar<i class="material-icons right">send</i>
						</button>
					</div>

				</form>
			</div>


		</div>

	</div>
</section>

</html>