<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">

<section layout:fragment="conteudo">

	<div class="container">
		<div class="section">
			<div>

				<form class="col s12" method="POST" th:action="@{/salvar}"
					th:object="${vendas}">

					<input type="hidden" th:field="*{id}" />

					<div class="input-field col s6">
						<i class="material-icons prefix">attach_money</i> <input
							required="required" th:field="*{valor}" type="text" id="currency" 
							class="validate" /> <label for="money">Entre com o
							valor de sua venda ou serviço prestado:</label><span class="helper-text"
							data-error="campo obrigatório" data-success=""></span>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">mode_edit</i> <input
							required="required" th:field="*{descricao}" id="descricao"
							type="text" class="validate" /> <label for="descricao">Descrição
							da venda ou serviço</label><span class="helper-text"
							data-error="campo obrigatório" data-success=""></span>
					</div>

					<div class="input-field col s6" th:if="*{data != null}">
						<i class="material-icons prefix">date_range</i> <input
							th:field=*{data}> 
					</div> 
					
				
					<div align="center">

						<button class="btn waves-effect waves-light" type="submit"
							name="action">
							Registrar<i class="material-icons right">send</i>
						</button>
					</div>

				</form>
			</div>


		</div>

	</div>
</section>

</html>