<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">



<section layout:fragment="conteudo">

	<form th:action="@{/salvar}" th:object="${vendas}" method="POST">

		<div layout:insert="/mensagens/validacao"></div>
		<div layout:insert="/mensagens/alertas"></div>

		<div class="container">

			<input type="hidden" th:field="*{id}" />

			<div class="input-group mb-3">

				<div class="input-group-prepend">
					<span class="input-group-text">Valor</span>
				</div>

				<input type="text" class="form-control" aria-label="Quantia"
					th:field="*{valor}" id="demo4" data-thousands="." data-decimal=","
					th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
				<div class="input-group-append">
					<span class="input-group-text">.00</span>
				</div>

			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Descrição</span>
				</div>
				<label for="desc"></label> <input type="text" class="form-control"
					id="desc" aria-label="Exemplo do tamanho do input"
					aria-describedby="inputGroup-sizing-default"
					th:field="*{descricao}"
					th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
			</div>

			<div class="input-group mb-3" th:if="${id} != null">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Data</span>
				</div>
				<input type="text" class="form-control"
					aria-label="Exemplo do tamanho do input"
					aria-describedby="inputGroup-sizing-default" th:field="*{data}"
					data-provide="datepicker" data-date-format="dd/mm/yyyy"
					data-date-language="pt-BR" data-date-autoclose="true"
					data-date-today-highlight="true">
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox"
							aria-label="Chebox para permitir input text"
							th:field="*{pendente}">
					</div>
				</div>
				<input type="text" class="form-control"
					aria-label="Input text com checkbox"
					placeholder="Marque se a venda ou serviço prestado não foi pago"
					disabled="disabled">
			</div>

			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary">Registrar</button>
			</div>

		</div>
	</form>

</section>



</html>