<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">



<section layout:fragment="pesquisa">

	<nav>
		<div class="nav-wrapper">
			<form th:action="@{/buscar}" class="estiloPesquisa">
				<div class="input-field">
					<input id="search" type="search" name="descricao"
						placeholder="Qual a venda que você procura? Digite e pressione 'enter'">
					<label class="label-icon" for="search"><i
						class="material-icons">search</i></label> <i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>

</section>

<section layout:fragment="conteudo">

	<table class="centered">
		<thead>
			<tr>
				<th>Código</th>
				<th>Valor</th>
				<th>Descrição</th>
				<th>Data</th>
				<th>Ações</th>

			</tr>
		</thead>

		<tbody>
			<tr th:each="v : ${vendas}">
				<td th:text="${v.id}"></td>
				<td th:text="${v.valor}"></td>
				<td th:text="${v.descricao}"></td>
				<td th:text="${v.data}"></td>

				<td><a th:href="@{{id}(id=${v.id})}" title="Editar"><img
						src="/imagens/editar.png" class="estiloIconesDaTabela" /></a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- Modal Structure -->
					<div id="modal1" class="modal">
						<div class="modal-content">
							<h4>ATENÇÃO</h4>
							<p>
								Você tem certeza de que deseja excluir esse registro?
							</p>
						</div>
						<div class="modal-footer">
							<a th:href="@{/excluir/{id}(id=${v.id})}"
								class="modal-close waves-effect waves-green btn-flat">Sim</a> <a
								href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
						</div>
					</div> <a class="waves-effect waves-light btn modal-trigger"
					href="#modal1">Excluir</a></td>
			</tr>
		</tbody>
	</table>
</section>


</html>