<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">


<section layout:fragment="pesquisa"></section>

<section layout:fragment="conteudo">

	<div class="container">
		<form th:action="@{/buscarPorDatas}">
			<label>Data Inicial</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Data</span>
				</div>
				<input type="text" class="form-control" th:name="dataInicio"
					aria-label="Exemplo do tamanho do input"
					aria-describedby="inputGroup-sizing-default"
					data-provide="datepicker" data-date-format="dd/mm/yyyy"
					data-date-language="pt-BR" data-date-autoclose="true"
					data-date-today-highlight="true" data-date-orientation="right">
			</div>
			<label>Data Final</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Data</span>
				</div>
				<input type="text" class="form-control" th:name="dataFim"
					aria-label="Exemplo do tamanho do input"
					aria-describedby="inputGroup-sizing-default"
					data-provide="datepicker" data-date-format="dd/mm/yyyy"
					data-date-language="pt-BR" data-date-autoclose="true"
					data-date-today-highlight="true" data-date-orientation="right">
			</div>

			<div style="text-align: center" class="botaoPesquisa">
				<button type="submit" class="btn btn-outline-primary">Pesquisar</button>
			</div>
		</form>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Descrição</th>
					<th scope="col">Valor</th>
					<th scope="col">Data</th>
					<th scope="col">Venda ou serviço pago?</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v : ${vendas}">
					<td th:text="${v.id}"></td>
					<td th:text="${v.descricao}">Mark</td>
					<td th:text="${#numbers.formatDecimal(v.valor, 1, 'DEFAULT', 2, 'DEFAULT')}">Mark</td>
					<td th:text="${#temporals.format(v.data, 'dd/MM/yyyy')}"></td>
					<td th:if="${v.pendente} == false"><img src="/imagens/paga.png"
						class="estiloIconesDaTabela"></td>
					<td th:if="${v.pendente} == true"><img src="/imagens/pendente2.png"
						class="estiloIconesDaTabela"></td>
					<td><a th:href="@{/{id} (id = ${v.id})}"><img
							src="/imagens/editar.png" class="estiloIconesDaTabela" /></a> &nbsp;
						&nbsp; &nbsp; <a th:href="@{/deletar/{id} (id = ${v.id})}"><img
							src="/imagens/excluir.png" class="estiloIconesDaTabela"
							data-toggle="modal" data-target="#ExemploModalCentralizado" /> </a></td>
				</tr>
			</tbody>
		</table>

	</div>
</section>


</html>