<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="layout">


<section layout:fragment="conteudo">
	<div class="container">

		<div class="row">

			<div class="col-sm-3">
				<div class="card text-white bg-primary mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Vendas Hoje:</h5>
						<span th:text="${somaDasVendasDiaria}"></span>
					</div>
				</div>

			</div>

			<div class="col-sm-3">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Vendas deste Mês</h5>
						<span th:text="${somaDasVendasDoMes}"></span>
					</div>
				</div>

			</div>

			<div class="col-sm-3">
				<div class="card text-white bg-danger mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Vendas deste Ano:</h5>
						<span th:text="${somaDasVendasDoAno}"></span>
					</div>
				</div>

			</div>

			<div class="col-sm-3">
				<div class="card text-white bg-warning mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Quantidade de vendas Hoje:</h5>
						<span th:text="${quantidadeDeVendasDiarias}"></span>
					</div>
				</div>

			</div>

		</div>
	</div>

</section>
</html>