.estiloDaMarca{
	font: larger;
	color: #0080ff;
	font-style: inherit;
	text-decoration: overline;
}
.estiloDaMarcaLogin{
	font: larger;
	color: white;
	font-style: inherit;
	text-decoration: overline;
}

.estiloSobreNos{
	font: larger;
	color: white;
	font-style: inherit;
}

.estiloDoCabecalho{
	padding-bottom: 60px;
}

.estiloIconeMenu{
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.estiloIconeLogin{
	width: 80px;
	height: 80px;
}
.estiloIconeLoginCadastrar{
	width: 30px;
	height: 30px;
	margin-left: 100px;
	margin-top: 10px;

}
.estiloMarcaCadastrar{
	color: white;
}
.estiloSobreNos{
	color: white;
}

.estiloIconesDaTabela{
	width: 15px;
	height: 15px;
}
.menuLateral{
	margin-left: 20px;
}
.botaoPesquisa{
	margin-bottom: 10px;
}

.estiloCorpo{
	background-color: #2E9AFE;
}
.estiloRodape1{
	text-align: center;
	color: white;
	margin-top: 50px;
}
.estiloTopoTabela{
	margin-top: 10px;
}

.botaoProcurarDespesa{
	margin-top: 10px;
}


.estiloErro{
	color: red;
}
.estiloMensagemDeErro{
	color: blue;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: justify;
}
.estiloCadastrese{
	margin-top: 10px;
	text-align: center;
	padding-bottom: 15px;
}
.estiloCorpoCadastrese{
	background-color: #dfdfdf;
}
.estiloBotaoCadastrese{
	padding-bottom: 10px;
	text-align: center;
}

.estiloTextoSobre{
	color: black;
	text-align: justify;
	margin-top: 30px;
}
.estiloSobreCorpo{
	background-color: #e8e8e8;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.estiloTituloSobre{
	color: white;
}
.estiloTituloSecundarioSobre{
	margin-top: 15px;
	margin-bottom: 15px;
}
.estiloBotaoSair{
	margin-top: 10px;
}
.estiloInformacoesDeGerencia{
	margin-top: 30px;
	color: #c0c0c0;
}
.estiloBarraProgresso{
	width: 100%;
	height: 5px;
}
.estiloCadastreseSobre{
	text-align: center;
	margin-bottom: 15px;
}
.estiloContato{
	margin-top: 50px;
}

