.estiloDaMarca{
	font: larger;
	color: #0080ff;
	font-style: inherit;
	text-decoration: overline;
}

.estiloDoCabecalho{
	padding-bottom: 60px;
}

.estiloIconeMenu{
	width: 35px;
	height: 35px;
	margin-right: 15px;
}
	
.estiloIconesDaTabela{
	width: 15px;
	height: 15px;
}
.menuLateral{
	margin-left: 20px;
}
.botaoPesquisa{
	margin-bottom: 10px;
}