/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.estiloIconesDoMenu{
	width: 30px;
	height: 30px;
}
.estiloIconesDaTabela{
	width: 15px;
	height: 15px;
}

.divRodape{
	background-color: blue;
}

.estiloPesquisa{
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: white;
}
.estiloConfirmação{
	color: blue;
}
.estiloDashboard{
	margin-bottom: 50px;
	background-color: #FAFAFA;
	color:#2E64FE;
}

.estiloCabecalho{
	margin-bottom: 25px;
}
.estiloCartao{
	margin-right: 10px;
}