<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="/layout/layout-basico">



<section layout:fragment="principal">

	<div class="estiloErro">
		<h1>Erro:</h1><h1 th:text="${status}"></h1>
	</div>

	<div>
		<span th:text="${error}"> </span>

	</div>

	<div class="estiloMensagemDeErro">
		<span th:text="${message}"> </span>

	</div>

	<button class="btn btn-primary" >Voltar
		<a href="javascript: history.go(-2)"></a>
	</button>

</section>


</html>