<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorate="/layout/layout">

<body>

	<section class="aw-layout-content  js-content"
		layout:fragment="principal">

		<div class="page-header container">
			<div class="container-fluid">
				<h1>Sua Meta Mensal</h1>
			</div>
		</div>
		<form th:action="@{/salvarMeta}" th:object="${metaDeVendaMensal}"
			method="POST" class="form-vertical  js-form-loading">
			<div class="container">

				<div class="form-group col-md-3">
					<label for="descricao" class="control-label">Valor:</label> <input
						type="text" class="form-control" aria-label="Quantia"
						th:field="*{valorDaMeta}" id="demo4" data-thousands="."
						data-decimal=",">
				</div>

			</div>
		</form>
	</section>

</body>
</html>